@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #5e7ce0,
    ),
    'success': (
      'base': #3ac295,
    ),
    'warning': (
      'base': #fa9841,
    ),
    'danger': (
      'base': #de504e,
    ),
    'error': (
      'base': #f66f6a,
    ),
    'info': (
      'base': #5e7ce0,
    ),
  ),
  $text-color: (
    'primary': #252b3a,
    'regular': #606266,
    'secondary': #71757f,
    'placeholder': #babbc0,
    'disabled': #cfd0d3,
  ),
  $border-color: (
    '': #f2f2f3,
  ),
  // $bg-color: (
  //   '': #f6f6f8,
  //   'page': #f5f5f6,
  //   'overlay': #f2f2f3,
  // ),
  $checkbox:
    (
      'font-size': 12px,
    ),
  $select: (
    'font-size': 12px,
  ),
  $select-option: (
    'height': 30px,
  ),
  $alert: (
    'title-font-size': 12px,
    'title-with-description-font-size': 14px,
    'description-font-size': 12px,
    'close-font-size': 14px,
    'close-customed-font-size': 12px,
    'icon-size': 14px,
    'icon-large-size': 24px,
  ),
  $message: (
    'close-size': 14px,
  ),
  $input-font-size: (
    'default': 12px,
  ),
  $dialog: (
    'content-font-size': 12px,
  ),
  $table-font-size: (
    'default': 12px,
  ),
  $pagination: (
    'font-size': 12px,
  ),
  $menu: (
    'item-height': 48px,
    'item-font-size': 12px,
    'icon-width': 14px,
  )
);
