@import './reset';
@import './var';

#app {
  width: 100%;
  height: 100%;
}

.table-container {
  height: 100%;
}

// =================================
// ==============scrollbar==========
// =================================

::-webkit-scrollbar {
  width: 7px;
  height: 8px;
}

// ::-webkit-scrollbar-track {
//   background: transparent;
// }

::-webkit-scrollbar-track {
  background-color: rgb(0 0 0 / 5%);
}

::-webkit-scrollbar-thumb {
  // background-color: rgba(144, 147, 153, 0.3);
  border-radius: 2px;
  background-color: rgb(144 147 153 / 30%);
  box-shadow: inset 0 0 6px rgb(0 0 0 / 20%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b6b7b9;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

// =================================
// ==============nprogress==========
// =================================
#nprogress {
  pointer-events: none;

  .bar {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    opacity: 0.75;
    background-color: #747bff;
  }
}

.el-menu--popup {
  min-width: 160px !important;

  .aside-menu {
    width: 160px !important;
  }

  .el-menu-item {
    height: var(--el-menu-horizontal-sub-item-height);
    font-size: var(--el-font-size-extra-small);
  }
}

:root {
  font-family: HuaweiFont, helvetica, arial, PingFang, 'Microsoft YaHei',
    'Hiragino Sans GB', 'Microsoft JhengHei', sans-serif;
  font-size: var(--el-font-size-small);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizelegibility;
  font-synthesis: none;
}

.common-table {
  .toolbar-box {
    @include flex-layout($justify: space-between);

    .search-box {
      @include flex-layout;

      gap: 10px;

      .el-input {
        width: 200px;
        border-bottom: 1px solid var(--el-border-color);

        &__wrapper {
          box-shadow: none;
        }
      }
    }
  }
}
