@mixin flex-layout(
  $justify: flex-start,
  $align: center,
  $direction: row,
  $wrap: nowrap
) {
  display: flex;
  flex-flow: $direction $wrap;
  align-items: $align;
  justify-content: $justify;
}
